h1 {
    text-align: center;
    color: blue;
    font-size: 100px;
}

.surf {
    color: green;
    size: 25px;
}

.ski {
    background-color: orange;
}

.image {
    background-image:url("/users/liam.hession/Desktop/wave.jpg");
    height: 500px;
    width: 200px;
}

.introduction {
    background-color: blanchedalmond;
    text-align: center;
    font-size: 40px;
}

.surftab {
    text-align: center;
    font-size: 40px;
}

.skitab {
    text-align: center;
    font-size: 40px;
}
