h1 {
    text-align: center;
    color: blue;
    font-size: 100px;
}
.surftab {
    text-align: left;
    font-size: 40px;
    background-color: turquoise;
}

.skitab {
    text-align: center;
    font-size: 40px;
    background-color: white;
    color: red;
}

.sendsection {
    text-align: right;
    font-size: 40px;
    background-color: lightseagreen;
}


.surf {
    color: blue;
    size: 25px;
    font-style: bold;
    
}

.ski {
    background-color: lightblue;
}

.image {
    height: 500px;
    width: 200px;
}

.header {
    background-color: blanchedalmond;
    text-align: center;
    font-size: 40px;
}

